
<html>
  <head>
    <title>Add user</title>
  </head>
  <body style="background:#F7F2BE">
    <FONT FACE="arial">
    <p ALIGN=CENTER style="color:#744F0F"><FONT SIZE=10   > Create a new user </FONT></p>

    <form action="/insert_user" method="post">
      <p ALIGN=CENTER style="color:#744F0F" >Username: <input  style="background:#F5E886" type="text" class="form-control" name="username" required></p>
      <p ALIGN=CENTER style="color:#744F0F">Fullname: <input  style="background:#F5E886" type="text" name="name" required></p>
      <p ALIGN=CENTER style="color:#744F0F">Password: <input  style="background:#F5E886" type="text" name="password" required></p>
      <p ALIGN=CENTER style="color:#744F0F">Email: <input  style="background:#F5E886" type="text" name="email" required></p>
      <p ALIGN=CENTER><input style="background:#A9DF9C" type="Submit" value="Create" > </p>
    </form>
    </FONT>
  </body>
</html>
