<html>
  <head><title>LOGIN</title></head>
  <body style="background:#F7F2BE">



      <pre>
      <h1><span style="color:#744F0F"><FONT FACE=arial SIZE=10 ""  > Welcome to the second task </FONT></span></h1>
      </pre>
      <p> <FONT FACE=arial SIZE=5 COLOR="black"> Choose an option:  </p>
      </FONT>
      <ul>
        <p><li><a href="/insert_user">Sign up</a> <i>(Register if you don't have an user) </i></li> </p>
        <p><li><a href="/list_of_users">See users</a> <i>(See all suscribers) </i></li></p>
        <p><li><a href="/login">Sign in</a> <i>(Enter your user) </i></li></p>
      </ul>

  </body>
</html>
