
<!--
<div class="col-md-4">
  <h1>Login</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="login()">
    <div>
   <form action="/login" method="post">
      <label>Usernamee</label>
      <input type="text" class="form-control" name="username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
</div>
-->

<!--
<html>
  <head>
    <title>login</title>
  </head>
  <body>
    <FONT FACE="verdana">
    <h2>login</h2>
    </FONT>
    <form action="/insert_user" method="post">
      <p>Username: <input type="text" class="form-control" name="username" required></p>
      <p>Password: <input type="text" class="form-control" name="password" required></p>
      <input type="Submit" value="login">
    </form>

  </body>
</html>
-->

<html>
  <head>
    <title>login</title>
  </head>
  <body style="background:#F7F2BE">
    <FONT FACE="arial">
    <p ALIGN=CENTER style="color:#744F0F"><FONT SIZE=10   > LOGIN </FONT></p>

    <form action="/login" method="post">
      <p ALIGN=CENTER style="color:#744F0F" >Username: <input  style="background:#F5E886" type="text" class="form-control" name="username" required></p>
      <p ALIGN=CENTER style="color:#744F0F">Password: <input  style="background:#F5E886" type="text" name="password" required></p>
      <p ALIGN=CENTER><input style="background:#A9DF9C" type="Submit" value="Login" > </p>
    </form>
    </FONT>
  </body>
</html>
